@use '@/styles/variables' as *;

.usuarios-page {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
    min-width: 0;
    min-height: 100dvh;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2.5rem;

    @media (max-width: 768px) {
        padding: 5rem 1rem 1.5rem;
    }
}
