@use '../../../styles/variables' as *;

.searchBar {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    background-color: $primary-color;

    input {
        flex: 1;
        border: none;
        outline: none;
        padding: 0.5rem;
        font-size: $font-size-medium;
        background-color: transparent;
        color: $color-text;
        font-family: inherit;
        font-weight: 400;
        border-radius: 0.25rem;

        // Personalización del placeholder
        &::placeholder {
            color: $color-text-secondary;
            opacity: 0.7; // Transparencia del placeholder
            font-style: italic; // Cursiva
            font-size: $font-size-small; // Tamaño diferente al texto
            font-weight: 300; // Peso más ligero
        }

        // Estados del input
        &:focus {
            background-color: rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 2px rgba($primary-color, 0.3);

            &::placeholder {
                opacity: 0.5; // Placeholder más transparente al hacer focus
            }
        }

        &:hover {
            background-color: rgba($primary-color, 0.3);
        }

        // Para navegadores específicos
        &::-webkit-input-placeholder {
            color: $color-text-secondary;
            opacity: 0.7;
        }

        &::-moz-placeholder {
            color: $color-text-secondary;
            opacity: 0.7;
        }

        &:-ms-input-placeholder {
            color: $color-text-secondary;
            opacity: 0.7;
        }
    }
}